{{ define "admin/modals/http_create" }}

 <!-- HTTP Modal Structures -->
 <div id="http-modal" class="modal-gap modal">
    <div class="modal-content">

            <div class="row">
                <h5 class="col">Add Http Service</h5>
            </div>

            <div class="row">
                <div class="input-field col">
                    <input id="http-hostname-or-external-ip" type="text" name="http-hostname-or-external-ip" value="" required class="validate">

                    <label for="http-hostname-or-external-ip">
                        Sensor's Hostname/ExternalIP
                        <a class="tooltipped" data-position="bottom" data-tooltip="TODO{add this help}"><i class="material-icons icon-black">help_outline</i></a>
                    </label> 
                </div>
                <div class="input-field col s2">
                    <input id="http-port" type="text" name="http-port" value="" required class="validate">

                    <label for="http-port">
                        Port 
                        <a class="tooltipped" data-position="bottom" data-tooltip="What port should this emulated service bind on?"><i class="material-icons icon-black">help_outline</i></a>
                    </label>
                </div>
            </div>



            <div class="row">
                <div class="input-field col">
                    <select id="clone-id" name="clone-id">
                        <option value="" disabled selected>---</option>
                        {{ if len .Teams }}
                            {{ range $key, $v := .Clones}}
                                <option value="{{ $v.ID }}">{{ $v.FQDN }}</option>
                            {{ end }}
                        {{ end }}
                    </select>
                    <label for="Clone">
                        Clone
                        <a class="tooltipped" data-position="bottom" data-tooltip="What cloned site do you want to utilize?"><i class="material-icons icon-black">help_outline</i></a>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <button onclick="post('http')" class="waves-effect waves-light teal lighten-1 btn">Submit</button>
                </div>
            </div>
    </div>
</div>

<div id="delete-service-modal" class="modal-gap modal">
    <div class="modal-content">
    </div>
</div>

{{ end }}