{{ define "admin/modals/preloader" }}

<div id="preloader-modal" class="modal-gap modal">
    <div class="modal-content">
        <h6>Obtaining cert and rebooting, please wait...</h6>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>

{{ end }}