{{ define "admin/modals/preloader" }}

<div id="preloader-modal" class="modal-gap modal">
    <div class="modal-content">
        <h6>Obtaining cert and rebooting in&nbsp;<span id="preloader-timer">20</span>&nbsp;seconds...</h6>
        <br>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <br>
    </div>
</div>

{{ end }}