{{ define "admin/modals/test_preloader" }}

<div id="test-preloader-modal" class="modal-gap modal">
    <div class="modal-content">
        <h6>SSL testing will complete in&nbsp;<span id="test-preloader-timer">10</span>&nbsp;seconds...</h6>
        <br>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <br>
    </div>
</div>

{{ end }}